@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    b}
.logo{
    width:228px; 
    height:154px;
}

.perfil{
    padding-top: 20px;
    background-color: #1E1C21;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.carro{
    padding-top: 12px;
    width:80px;
    transition:0.3s;
}
.carro:hover{
    transform: scale(1.4);
}
.icon{
    width: 80px;
    transition: 0.3s;
}
.icon:hover{
transform: scale(1.4);
}
.container-grid{
    height: 40px;
    padding-bottom: 40px;

}
.cabecalho{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    background-color: #1E1C21;
}
.cliente{
    position: static;
    padding: 13px;
    margin: 20px;
    position: static;
    display: flex;
    height: 100px;
    width: 200px;
   
}
.lupa{
    position: relative;
    top:20px;    
    display: flex;
    justify-content: first baseline;
    width: 40px;
}

.barra{
    width: 950px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: baseline;
    transition: 0.4s;
}
.search{
    font-size: 20px;
    background: none;
    color:#FFFFFF;
    font-family: 'Silkscreen', cursive;
    }
input[type=text]{
    border: none;
    height: 52px;
    width: 900px;
    border-bottom-style: double;
    border-bottom-color:#00C2FF ;
}
input::placeholder{
    font-style: italic;
    font-size: 18px;
    font-family: 'Silkscreen', cursive;
    color: #00C2FF
}
.barra:hover{
    transform: scale(1.1);
}
.menu{
margin: 10px;
margin-inline: 10%;
height: 1px;
min-width: 80%;
max-width: 100%;
display: flex;
justify-content: space-between;

}
.menu a{
display: flex;
text-decoration: none;
color: #000000;
-webkit-text-stroke: 1px #00C2FF;
font-family: 'Asap', sans-serif;
font-size: 26px;
text-shadow: 5px 5px 5px rgb(0, 0, 0);
font-weight: 600;
transition: 0.2s;
}
.menu a:hover{
    transform: scale(1.1);
    font-size: 29px;
    -webkit-text-stroke-width: 2px;
}
.conteudo{
text-decoration-line:none;
display: flex;
justify-content: center;
width:100%;
height: 175px;
padding: 30px;
font-family: 'Asap';
font-style: normal;
font-weight: 900;
font-size: 36px;
text-shadow: #000000 4px 4px 4px;
text-decoration: none;
color: #FFFFFF;
background-image: url(../imagens/banner.jpg);
}
.destaque{
    margin:0px;
    position: absolute;;
    width: 1200px;
    padding:5px;
    height: 1200px;
    display:contents;
    justify-content:;
    align-items: center;
    background-color: #1E1C21;
}
.destaque a{
    color: #000000;
    text-decoration: none;
    -webkit-text-stroke: 1px #00C2FF;
    font-family: 'Asap', sans-serif;
    font-size: 26px;
    font-weight: 600;
    transition: 0.2s;
}
.destaque a:hover{
    transform: perspective(1.2);
    font-size: 29px;
    -webkit-text-stroke-width: 3px;}
.ofertas{
    margin: 10px;
    display: flex;
    position: absolute;
    top:10px;
}
.recem{
    margin-inline: 10px;
    display: flex;
    position: absolute;
    top:0px;
}
.catalogo1{
    padding:40px;
    max-width: 100%;
    background:#1E1C21;
    display: flex;
    justify-content:space-between ;
    padding-inline: 35px;
    align-items: center;
    position: relative;}
.catalogo2{
    padding:25px;
    max-width: 100%;
    background:#1E1C21;
    display: flex;
    justify-content:space-between ;
    padding-inline: 35px;
    align-items: center;
    position: relative;}
.card{
    margin: 20px;
    width: 16rem;
    margin-left: 15px;
    line-height: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.1);
}
.card-body{
    width: 100%;
    padding: 10px;    
    display: table-column;
}
.card-title{
    text-align: center;
}
.valor{
    border-radius: 8px;
    padding-top: 10px;
    height: 150px;
    background-color: #99929250;
}
.card-text1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 1px #00C2FF;}
.card-text2{
   text-align: center;
}
.card-text3{
text-align: center;
font-size: 25px;
font-weight: bold;
color: black;
-webkit-text-stroke: 1px #00C2FF;}
.card-text4{
    text-align: center;
}
.rodape{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #000000;
}
.info{
    padding: 60px;
    width: 300px;
    height: 100%;
    display: flex;
    font-size: 14px;
    color:#FFFFFF
}
.segurança{
    margin-top: 30px;
    padding-inline: 110px;
}
.seg{
    width:200px;
    height:100px;
    cursor:pointer;
}
.pagamento{
    padding-inline:5px;
}
.pag{
    width: 370px;
    cursor:pointer;
}
.certificados{
    margin: 30px;
    padding-inline: 100px;
}
.cer{
    width: 90px;
    cursor:pointer;
}
.social{
    color:#FFFFFF;
    font-size:14px;
    margin: 20px;
    padding-inline: 40px;
}
.soc{
    width: 100px;
    cursor:pointer;
}
.socialinfo{
    padding-top: 10px
}
@media screen and (max-width: 1000px){
    .logo{
        width:148px; 
        height:104px;}

    .barra{
        width: 450px;
    }
    .search{
        font-size: 18px;
    }
    input[type=text]{
        height: 32px;
        width: 400px;}
    input::placeholder{
        font-size: 12px;
    }
    .lupa{
        width: 28px;
    }
    .icon{
        width: 60px;
    }
    .carro{
        width: 60px;
    }
    .menu a{
        font-size: 18px;
    }
    .conteudo{
        font-size: 26px;
        height: 140px;
    }
    .destaque{
        width: 100%;
        padding-top: 5px;
        height: 50px;
        padding-inline-start: 50px ;
        padding-inline-end: 200px;}
    .destaque a{
        font-size:16px
    }
    .card{
        width: 150px;
        height: 10px;
    }
    .card-title{
        font-size:8px;
    }.valor{
        border-radius: 8px;
        padding-top: 15px;
        height: 100px;
        background-color: #99929250;
        line-height: 1px;
    }
    .card-body{
        width: 100%;
        padding: 0px;    
        display: table-column;
        
    }
    .card-text1{
        padding:0px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        color: black;
        -webkit-text-stroke: 1px #00C2FF;}
    .card-text2{
        line-height: 5px;
       text-align: center;
       font-size: 6px;
       padding:0px;
    }
    .card-text3{
    line-height: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 1px #00C2FF;
    padding:0px;}
    .card-text4{
        padding: ;
        line-height: 6px;
        font-size: 6px;
        padding:0px;
    }
    .rodape{
        display: flex;
        width: 100%;
        height: 100px;
        background-color: #000000;
    }
    .info{
        padding: 30px;
        width: 150px;
        height: 100%;
        display: flex;
        font-size: 8px;
        color:#FFFFFF
    }
    .segurança{
        margin-top: 15px;
        padding-inline: 85px;
    }
    .seg{
        width:100px;
        height:50px;
        cursor:pointer;
    }
    .pagamento{
        padding-inline:2px;
    }
    .pag{
        width: 135px;
        cursor:pointer;
    }
    .certificados{
        margin: 15px;
        padding-inline: 80px;
    }
    .cer{
        width: 55px;
        cursor:pointer;
    }
    .social{
        color:#FFFFFF;
        font-size:8px;
        margin: 10px;
        padding-inline: 20px;
    }
    .soc{
        width: 50px;
        cursor:pointer;
    }
    .socialinfo{
        padding-top: 5px
}
